* {
    box-sizing: border-box;
  }
 
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
 
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  .text{
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    line-height: 1.6;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
